.sortingPage {
  display: flex;
  flex-direction: column;
}

.sortingPage > *:not(:last-child) {
  margin-bottom: 20px;
}

.sortingPageTopContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.sortingPageTopInner {
  flex: 1;
  padding: 32px 16px 50px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sortingPageChoices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 32px;
}

@media only screen and (min-width: 1000px) {
  .sortingPageChoices {
    flex-direction: row;
  }
}

.sortingPageTitle {
  text-align: center;
}

.sortingPageAdditionalButtons {
  display: flex;
  justify-content: center;
}

.sortingPageInstructions {
  display: none;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .sortingPageInstructions {
    display: block;
  }
}

.sortingPageResults {
  display: flex;
  flex-direction: column;
}

.sortingPageResult {
  display: flex;
  padding: 12px 4px;
  align-items: stretch;
}

.sortingPageResult:not(:first-child) {
  margin-top: -90px;
}

.sortingPageResult > span {
  display: flex;
  align-items: center;
  background-color: cornsilk;
}

.sortingPageResult:nth-child(2n) {
  flex-direction: row-reverse;
}

.sortingPageResult:nth-child(2n) > span {
  background-color: lightgray;
}

.sortingPageResultCount {
  width: 50px;
  text-align: center;
  background-color: cornsilk;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.sortingPageResult:nth-child(2n) .sortingPageResultCount {
  background-color: lightgray;
}

.sortingPageResultImage {
  padding: 12px 24px 12px 0;
  background-color: cornsilk;
}

.sortingPageResult:nth-child(2n) .sortingPageResultImage {
  background-color: lightgray;
  padding: 12px 0 12px 24px;
}

.sortingPageResultImage img {
  width: 100px;
  height: 100px;
}

.sortingPageResultName {
  flex-grow: 1;
  background-color: cornsilk;
  padding: 12px;
  z-index: -1;
  align-self: center;
}

.sortingPageResult:nth-child(2n) .sortingPageResultName {
  justify-content: flex-end;

  background-color: lightgray;
}

.linksToLists {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100vw;
  padding: 10px;
}

.sortingPageResultsContainer {
  padding: 32px 16px;
}
