.sortingPage {
  display: flex;
  flex-direction: column;
}

.sortingPage > *:not(:last-child) {
  margin-bottom: 20px;
}

.sortingPageChoices {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sortingPageChoice {
  min-height: 140px;
  min-width: 300px;
  font-size: 10px;
}

.sortingPageChoices input {
  width: 300px;
}

.sortingPageTitle {
  text-align: center;
}

.sortingPageAdditionalButtons {
  display: flex;
  justify-content: center;
}

.sortingPageInstructions {
  text-align: center;
}

.sortingPageOutputs {
  display: flex;
}

.sortingPageOutputs > * {
  flex: 1;
}
