.sortingPage {
  display: flex;
  flex-direction: column;
}

.sortingPage > *:not(:last-child) {
  margin-bottom: 20px;
}

.sortingPageChoices {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sortingPageChoice {
  min-height: 140px;
  width: 300px;
  font-size: 10px;
}

.sortingPageTitle {
  text-align: center;
}

.sortingPageAdditionalButtons {
  display: flex;
  justify-content: center;
}

.sortingPageInstructions {
  text-align: center;
}

.sortingPageOutputs {
  display: flex;
  gap: 20px;
}

.sortingPageOutputs > * {
  flex: 1;
}

.sortingPageResults {
  display: flex;
  flex-direction: column;
}

.sortingPageResult {
  display: flex;
  gap: 8px;
  padding: 12px 4px;
  border-bottom: 1px solid gray;
}

.sortingPageResultName {
  flex-grow: 1;
}
