.landingPageLists {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.landingPageListsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.landingPageListsContainer > *:not(:last-child) {
  margin-bottom: 10px;
}

.landingPageListContainer {
  display: flex;
}

.landingPageListContainer > *:not(:last-child) {
  margin-right: 10px;
}

.landingPageList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landingPageListRow {
  display: flex;
  justify-content: space-between;
}

.landingPageListRow > *:not(:last-child) {
  margin-right: 10px;
}
